@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*https://www.w3schools.com/css/css_tooltip.asp*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    transition: opacity 0.3s;
    visibility: hidden;
    opacity: 0;
}

/*coherence between different tooltips*/
.tooltiptext {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    font-weight:  normal !important;
    text-align: center !important;
    text-indent: 0px !important;
    text-rendering: auto !important;
    text-shadow: none !important;
    word-spacing: 0px !important;
    color: white !important;
}

  
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555;
}